#chart_div {
    /*background-color: powderblue;*/
    width: 1000px;
    /*height: 200px;*/
}

#world_stats{
    /*background-color: #cbf6cb;*/
    background-color: orange;
    border-radius: 14pt;
}

#table_per_million {
    background-color: powderblue;
    width: 100%;
    height: 570px;
}


#table_month_year {
    background-color: powderblue;
    width: 100%;
    height: 570px;
}


#myDiv {
    background-color: powderblue;
    width: 1000px;
    height: 570px;

}