#neo_graph_1 {
    width: 100%;
    height: 600px;
    background-color: powderblue;
}

#neo_graph_2 {
    width: 100%;
    height: 600px;
    background-color: lightyellow;
}

#neo_graph_3 {
    width: 100%;
    height: 600px;
    background-color: lightcyan;
}

#neoGrid {
    width: 100%;
    height: 100%;
}

#continent_stats_table {
    width: 100%;
    height: 570px;
}

pre {
    white-space: pre-wrap
}

.display-4 {
    background-color: slategray;
    color: whitesmoke;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
