{% extends 'base.html' %}
{% set showNav = True %}

{% block title %}DBZ - Tables{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col"><h2>Get data with: </h2></div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-4 my-1">
            <button id="mysql-stats-btn" class="btn btn-primary btn-lg btn-block">MySQL</button>
        </div>
        <div class="col-12 col-md-4 my-1">
            <button id="mongo-stats-btn" class="btn btn-primary btn-lg btn-block">MongoDB</button>
        </div>
        <div class="col-12 col-md-4 my-1">
            <button id="neo-stats-btn" class="btn btn-primary btn-lg btn-block">Neo4j</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <div id="myGrid" style="height: 600px" class="ag-theme-alpine"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}