{% extends 'base.html' %}
{% set showNav = True %}

{% block title %}MongoDB{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mongo.css') }}">
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col mt-5">
                <h2>Example: covid19 db</h2>
                {#TODO: putt inn ag-grid#}
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/mongo.js') }}"></script>
{% endblock %}