{% extends 'base.html' %}
{% set showNav = True %}

{% block title %}MongoDB{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mongo.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"/>

{% endblock %}

{% block content %}

    {# PART: Jumbotron Header #}
    <div class="jumbotron text-white rounded bg-dark">
        <div class="container">
            <h1 class="display-1">MongoDB Dashboard</h1>
            <p class="lead">
                <b>Tutorial:</b><br/>
                Hover your mouse pointer on various elements on this page for more information.<br/>
            </p>
        </div>
    </div>



    <div class="container">

        {# CHART: Piechart distribution of total cases #}
        <div class="row">
            <div class="col-12">
                <div class="chart_div">
                    <h2>Distribution of cases</h2>
                    <canvas id="mongopie"></canvas>
                </div>
            </div>
        </div>

        {# CHOROPLETH MAP #}
        <div class="row">
            <div class="col-12">
                <h2>Covid-19 Cases per Country</h2>

                <div id='myDiv'>
                    {#   Plotly chart will be drawn inside this DIV   #}
                </div>
            </div>
        </div>

        {# CHART: Scatter Plot on Median Age / Total Deaths #}
        <div class="row">
            <div class="col-12">
                {#  This div is used for resizing the canvas.   #}
                <div id="chart_div">
                    {#  ChartJS Scatter Plot   #}
                    <canvas id="scatter_plot_age_deaths"></canvas>
                </div>
            </div>
        </div>


        {# TABLE: Stats per million grouped by Country #}
        <div class="row">
            <div class="col-12">
                <h2>Stats per million grouped by Country</h2>
                <div id="table_per_million" class="ag-theme-alpine"></div>
            </div>
        </div>


        {# TABLE: Stats grouped by Year then Month #}
        <div class="row">
            <div class="col-12">
                <h2>Stats grouped by Year then Month</h2>
                <div id="table_month_year" class="ag-theme-alpine"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {#  ChartJS  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
    {#  plotly.js  #}
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>


    <script src="{{ url_for('static', filename='js/mongo.js') }}"></script>
{% endblock %}