{% extends 'base.html' %}
{% set showNav = True %}

{% block title %}Neo4j{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neo.css') }}">

    {#  Show syntax-highlighted code.  #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/themes/prism.css">

    {#  Bootstrap-datepicker  #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous"/>
{% endblock %}



{# HTML CODE HERE#}
{% block content %}


    {# PART: Jumbotron Header #}
    <div class="jumbotron text-white rounded bg-dark">
        <div class="container">
            <h1 class="display-1">Neo4j Dashboard</h1>
            <p class="lead">
                <b>Tutorial:</b><br/>
                Use your mouse-pointer to navigate the graphs and to drag nodes around.<br/>
                Use your scroll-wheel to zoom in and out. <br/>
                You can double-click nodes for more info.
            </p>
        </div>
    </div>




    {# PART: Neovis Graph Viewer #}
    <div id="part_1" class="container">

        <h2 class="display-4">Countries and Continents</h2>


        {# GRAPH: Neovis Graph 1 #}
        <div class="row">
            <div class="col-7">
                <div id="neo_graph_1"></div>
            </div>


            {# TABLE: Countries and Continents #}
            <div class="col-5">
                {#                <h2>Table: All Countries</h2>#}
                <div id="neoGrid" class="ag-theme-alpine"></div>
                {# TODO: Change id if you want to trong #}
            </div>
        </div>

        <div class="row">

            {# CODE: Get Countries by Continent as Graph #}
            <div class="col-7">
                <pre><code class="language-cypher">
                    // Get all Countries as graph
                    MATCH (c:Country)-[r]->(cc:Continent)
                    RETURN c, r, cc;
                </code></pre>
            </div>


            {# CODE: Get Countries by Continent as Table #}
            <div class="col-5">
                <pre><code class="language-cypher">
                    // Get all Countries as Table
                    MATCH (c:Country) -[]-> (cc:Continent)
                    RETURN
                        c.location as location,
                        cc.continent as continent
                </code></pre>
            </div>
        </div>


        {# PART: Stats by continent #}
        <h2 class="display-4">Covid-19 Stats by Month</h2>


        {# CODE: Get Countries by Continent as Table #}
        <div class="row">
            <div class="col-3 text-center">
                <div id="month_datepicker_component" class="datepicker">
                    <input id="month_input" type="text" class="form-control" hidden>
                </div>
            </div>


            <div class="col-9">
                <pre><code id="month_code_snippet" class="language-cypher">
                    MATCH
                        (c:Country) <-[r]- (e:Event) -[i]-> (d:Date),
                        (c:Country) -[x]-> (cc:Continent)
                    WHERE
                        d.date.month = 5
                        AND e.new_cases > 2000
                    RETURN c, r, e, cc, x
                </code></pre>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button id="month_query_button" type="button" class="btn btn-warning btn-block">Execute Query</button>
            </div>
        </div>

        {# GRAPH: Neovis Graph for Country Date #}
        <div class="row">
            <div class="col-12">
                <div id="neo_graph_2"></div>
            </div>
        </div>

        {# PART: Stats by Date #}
        <h2 class="display-4">Covid-19 Stats by Day</h2>

        <div class="row">
            <div class="col-3 text-center">
                <div id="datepicker_component" class="datepicker">
                    <input id="date_input" type="text" class="form-control" hidden>
                </div>
            </div>

            {# CODE: Get Countries by Continent as Table #}
            <div class="col-9">
                <pre><code id="day_code_snippet" class="language-cypher">
                MATCH
                    (c:Country) <-[r]- (e:Event) -[i]-> (d:Date),
                    (c:Country) -[x]-> (cc:Continent)
                WHERE
                    d.date = Date('2020-06-01')
                    AND e.new_cases > 100
                RETURN c, r, e, d, i, cc, x
                </code></pre>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button id="day_query_button" type="button" class="btn btn-success btn-block">Execute Query</button>
            </div>
        </div>

        {# GRAPH: Neovis Graph for Country Date #}
        <div class="row">
            <div class="col-12">
                <div id="neo_graph_3"></div>
            </div>


        </div>


        {# PART: Stats by continent #}
        <h2 class="display-4">Stats by Continent ordered by Month</h2>

        <div class="row">

            {# TABLE: Stats by continent #}
            <div class="col-7">
                <h5>Resulting Table when executing the script to the right </h5>
                <div id="continent_stats_table" class="ag-theme-alpine"></div>
            </div>

            {# Dropdown: Select Continent #}
            <div class="col-5">

                {# CODE: TEST #}
                <h5>Cypher Script: Stats by Continent ordered by Month</h5>
                <pre><code id="continent_code_snippet" class="language-cypher">
                MATCH
                    (e:Event)-[:IN]->(c)-[:LOCATED_IN]->(cc),
                    (e)-[:DURING]->(d)
                WHERE cc.continent = '{continent_name}'
                RETURN
                    d.date.month as month,
                    SUM(e.new_cases) as total_cases,
                    SUM(e.new_deaths) as total_deaths,
                    SUM(e.new_tests) as total_tests
                ORDER BY month
            </code></pre>


                <div class="dropdown">
                    <button class="btn btn-lg btn-info dropdown-toggle" type="button" id="continent_dropdown"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Europe
                    </button>
                    <div class="dropdown-menu" aria-labelledby="continent_dropdown">
                        <button class="dropdown-item" type="button">Asia</button>
                        <button class="dropdown-item" type="button">Europe</button>
                        <button class="dropdown-item" type="button">Africa</button>
                        <button class="dropdown-item" type="button">North America</button>
                        <button class="dropdown-item" type="button">South America</button>
                        <button class="dropdown-item" type="button">Oceania</button>
                    </div>
                </div>
            </div>
        </div>
    </div>












{% endblock %}

{% block scripts %}
    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>

    {#  Show syntax-highlighted code.  #}
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/components/prism-cypher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/plugins/autoloader/prism-autoloader.min.js"></script>#}

    {#  Bootstrap-datepicker  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/neo.js') }}"></script>


{% endblock %}