{% extends 'base.html' %}
{% set showNav = False %}
{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="container d-flex flex-column min-vh-100">
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-6">
                <div class="row">
                    <div class="col text-center mb-5">
                        <h1 class="display-3">'rona explorer</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('mysql') }}" class="btn btn-primary btn-lg btn-block btn-huge">MySQL</a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('mongo') }}" class="btn btn-primary btn-lg btn-block btn-huge">MongoDB</a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('neo') }}" class="btn btn-primary btn-lg btn-block btn-huge">Neo4j</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}